/* PAGINA CONTACTO */

.contacto{
    margin-bottom: 15px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .titulocontacto{
        margin-bottom: 20px;
        font-size: 60px;
        font-family: 'Bebas Neue', cursive;
    }

    .textopag5{
        font-family: 'Bebas Neue', cursive;
        font-size: 20px;
        margin: 0 50px;
    }

    .contenidocontacto {
        margin-bottom: 20px;
        font-size: 20px;
        font-family: 'Bebas Neue', cursive;
        font-weight: bold;

        .form{
            display: flex;
            flex-direction: column;

            .textarea {
                max-height: 100px;
                min-height: 100px;
            }

            .label{
                margin-top: 15px;
            }
            
            .inline{
                display: inline-block;
            }            
        }
    }
}

/* Boton de enviar con gradiante */
.submit {
    background-image: linear-gradient(to right top, #252525, #157317, #53d49c);
    background-size: 400%;
    width: 120px;
    height: 40px;
    font-family: 'Bebas Neue', cursive;
    color: white;
    margin-top: 10px;

    &:hover {
        animation: forwards animate 0.8s;
    }
}

@keyframes animate {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
        transform: translateY(-3px);
    }
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
    /* PAGINA CONTACTO */
    .contacto {
        margin-top: 5px;

        .titulocontacto {
            font-size: 50px;
            margin-left: 0;
            margin-bottom: 10px;
        }

        .textopag5 {
            margin: 0 35px;
        }

        .contenidocontacto {
            margin-top: 10px;
            font-size: 15px;

            .form{
                .textarea {
                    max-width: 300px;
                    max-height: 100px;
                }
            }
        }
    }

    .submit{
        width: 100px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
    // PAGINA CONTACTO
    .contacto{
        margin: 10px;

        .textopag5 {
            margin: 0 35px;
        }

        .contenidocontacto{
            .form{
                .textarea{
                    max-width: 450px;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .contacto{
        .contenidocontacto{
            .form{
                .textarea{
                    max-width: 550px;
                }
            }
        }
    }
}