@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Orelega+One&display=swap');

// Variables

$color1:#3A6351;
$color2: #D3E4CD;

* {
    margin: 0;
    padding: 0%;
}

header {
    background-color: $color1;
    text-align: center;
    color: white;
    font-size: 50px;
    padding: 90px;
}

.navbar {
    background-color: $color2;
    text-align: center;
    font-family: 'Orelega One', cursive;
    text-align: center;
}

.textnav {
    color: black;
    padding: 10px;
    text-decoration: none;
    text-align: center;

    &:hover {
        color: white;
    }
}

/* PAGINAS 1 Y 2 */

.inicio {
    background-color: $color2;
    padding-bottom: 30px;
    padding-top: 30px;

    /* display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 450px; */
}

// .iniciow {
//     width: 99%;
//     padding-right: 0%;
// }

//mixin fallido, envie captura por md german para que vieras si sabes de que se trata el error
// @mixin fonts ($fontsize, $fontfamily) {
//     font-size: $fontsize;
//     font-family: $fontfamily;
// }

.tituloinicio {
    // @include fonts(25px, 'Bebas Neue', cursive);
    display: flex;
    align-items: center;
    padding-left: 40px;
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
}

.tituloquehacemos {
    font-size: 60px;
}

.img1 {
    width: 400px;
    height: 400px;
    border-radius: 5%;
    padding-left: 50px;
}

.textopag2 {
    padding-left: 40px;
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
}

/* PAGINAS PRODUCTOS */

.productos {
    background-color: $color2;
    padding-bottom: 30px;
    padding-top: 30px;
    display: grid;
    grid-template-areas: "t1 t1" "p1 p2" "p3 p4" "p5 p5";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 90px 350px 350px 350px;
}

.tituloproducto {
    padding-left: 40px;
    padding-bottom: 15px;
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
    grid-area: t1;
}

.tituloalgodulce {
    @extend .tituloproducto
}

.p1 {
    grid-area: p1;
}

.p2 {
    grid-area: p2;
}

.p3 {
    grid-area: p3;
}

.p4 {
    grid-area: p4;
}

.p5 {
    grid-area: p5;
}

.p7 {
    grid-area: p1;
}

.p8 {
    grid-area: p2;
}

.p9 {
    grid-area: p3;
}

.p10 {
    grid-area: p4;
}

.p11 {
    grid-area: p5;
}

h4 {
    font-size: 15px;
    font-family: 'Bebas Neue', cursive;
    padding-left: 100px;
    padding-bottom: 10px;
}

.imgproductos {
    width: 250px;
    height: 250px;
    border-radius: 5%;
    padding-left: 100px;
    padding-bottom: 50px;
}

.textopag4 {
    padding-left: 40px;
    padding-bottom: 20px;
    font-size: 15px;
    font-family: 'Bebas Neue', cursive;
}

/* PAGINA CONTACTO */

.contacto {
    background-color: $color2;
    padding-bottom: 15px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulocontacto {
    padding-left: 40px;
    padding-bottom: 20px;
    font-size: 40px;
    font-family: 'Bebas Neue', cursive;
}

.contenidocontacto {
    padding-left: 40px;
    padding-bottom: 20px;
    font-size: 15px;
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
}

.textarea {
    max-width: 700px;
    max-height: 100px;
}

/* boton de enviar con gradiante */

.submit {
    background-image: linear-gradient(to right top, #252525, #157317, #53d49c);
    background-size: 400%;
    width: 80px;
    height: 40px;
    font-family: 'Bebas Neue', cursive;
    color: white;

    &:hover {
        animation: forwards animate 0.8s;
    }
}

@keyframes animate {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
        transform: translateY(-3px);
    }
}

/* FOOTER GENERAL */

footer {
    background-color: $color1;
    padding: 20px;
    text-align: right;
    font-family: 'Bebas Neue', cursive;

    h3 {
        font-size: 22px;
    }

    i {
        font-size: 35px;
        color: black;

        &:hover {
            color: white;
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 575px) {
    /* PAGINA INICIO */

    header {
        font-size: 30px;
        padding: 50px;
    }

    .nav1 {
        font-size: 13px;
    }

    .inicio {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 300px;
        justify-items: center;
        align-items: center;
        padding-left: 0%;
        padding-top: 5px;
        padding-right: 20px;
    }

    .tituloinicio {
        grid-row: 1/2;
        font-size: 15px;
        text-align: center;
        justify-items: center;
        padding-top: 20px;
        margin: 0px;
    }

    .img1 {
        grid-row: 2/3;
        height: 250px;
        width: 300px;
        margin-right: 0px;
    }

    /* PAGINA QUE HACEMOS */

    .quehacemos {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 400px 200px;
        justify-items: center;
        align-items: center;
        padding-left: 0%;
        padding-top: 5px;
        padding-right: 20px;

        img {
            display: none;
        }
    }

    .textopag2 {
        h2 {
            font-size: 35px;
        }

        font-size: 20px;
    }

    /* PAGINAS PRODUCTOS */

    .productos {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        padding-right: 15px;
        justify-items: center;
        align-items: center;

        h2 {
            font-size: 30px;
        }
    }

    h4 {
        padding-left: 0;
    }

    .imgproductos {
        width: 200px;
        height: 200px;
        padding-left: 0;
    }

    /* solucion de errores de productos desalineados */

    .p3,
    .p7 {
        width: 200px;
    }

    /* PAGINA CONTACTO */

    .contacto {
        padding-top: 5px;
        display: flex;
        flex-direction: column;
        align-items: left;
    }

    .titulocontacto {
        font-size: 30px;
        padding-left: 0;
        padding-bottom: 10px;
    }

    .contenidocontacto {
        padding-left: 0;
        padding-top: 10px;
        font-size: 20px;
        align-items: left;
    }

    .textopag5 {
        padding-left: 10px;
    }

    .textarea {
        max-width: 200px;
        max-height: 100px;
    }

    /* FOOTER */

    footer {
        padding: 10px;
        font-size: 13px;
        text-align: center;

        i {
            font-size: 20px;
        }

        h3 {
            font-size: 17px;
        }
    }
}

@media only screen and (min-width: 576px) and (max-width: 810px) {
    .img1 {
        height: 300px;
        width: 300px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 860px) {
    .textopag2 {
        font-size: 20px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
    .textopag2 {
        font-size: 15px;
    }

    .tituloquehacemos {
        font-size: 25px;
    }

    .textnav {
        font-size: 15px;
    }
}